In [1]:
#Importing libaries

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
#Importing & first view of the DataSet

df_ppww = pd.read_csv("Petrol Dataset June 23 2022 -- Version 2.csv", encoding='latin-1') 
df_ppww.head()

,S#,Country,Daily Oil Consumption (Barrels),World Share,Yearly Gallons Per Capita,Price Per Gallon (USD),Price Per Liter (USD),Price Per Liter (PKR),GDP Per Capita ( USD ),Gallons GDP Per Capita Can Buy,xTimes Yearly Gallons Per Capita Buy
0,1,United States,"19,687,287",20%,934.3,5.19,1.37,289.97,"63,414","12,218",13
1,2,China,"12,791,553",13%,138.7,5.42,1.43,302.87,"10,435","1,925",14
2,3,India,"4,443,000",5%,51.4,5.05,1.33,281.93,"1,901",376,7
3,4,Japan,"4,012,877",4%,481.5,4.69,1.24,262.05,"40,193","8,570",18
4,5,Russia,"3,631,287",4%,383.2,3.41,0.90,190.56,"10,127","2,970",8

In [3]:
#Used to get the data structures and types
df_ppww.shape
df_ppww.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 181 entries, 0 to 180
Data columns (total 11 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   S#                                    181 non-null    int64
 1   Country                               181 non-null    object
 2   Daily Oil Consumption (Barrels)       181 non-null    object
 3   World Share                           181 non-null    object
 4   Yearly Gallons Per Capita             181 non-null    float64
 5   Price Per Gallon (USD)                181 non-null    float64
 6   Price Per Liter (USD)                 181 non-null    float64
 7   Price Per Liter (PKR)                 181 non-null    float64
 8   GDP Per Capita ( USD )                181 non-null    object
 9   Gallons GDP Per Capita Can Buy        181 non-null    object
 10  xTimes Yearly Gallons Per Capita Buy  181 non-null    int64
dtypes: float64(4), int64(2), object(5)
memory usage: 15.7+ KB

In [4]:
# Need to change objects to floats (GDP Per Capita (USD) & Gallons GDP Per Capita Can Buy)
df_ppww['Daily Oil Consumption (Barrels)'] = df_ppww['Daily Oil Consumption (Barrels)'].apply(lambda x:x. replace(',', ''))
df_ppww['Daily Oil Consumption (Barrels)'] = df_ppww['Daily Oil Consumption (Barrels)'].astype(float)

df_ppww['GDP Per Capita ( USD )'] = df_ppww['GDP Per Capita ( USD )'].apply(lambda x:x. replace(',', ''))
df_ppww['GDP Per Capita ( USD )'] = df_ppww['GDP Per Capita ( USD )'].astype(float)

df_ppww['Gallons GDP Per Capita Can Buy'] = df_ppww['Gallons GDP Per Capita Can Buy'].apply(lambda x:x. replace(',', ''))
df_ppww['Gallons GDP Per Capita Can Buy'] = df_ppww['Gallons GDP Per Capita Can Buy'].astype(float)

df_ppww.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 181 entries, 0 to 180
Data columns (total 11 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   S#                                    181 non-null    int64
 1   Country                               181 non-null    object
 2   Daily Oil Consumption (Barrels)       181 non-null    float64
 3   World Share                           181 non-null    object
 4   Yearly Gallons Per Capita             181 non-null    float64
 5   Price Per Gallon (USD)                181 non-null    float64
 6   Price Per Liter (USD)                 181 non-null    float64
 7   Price Per Liter (PKR)                 181 non-null    float64
 8   GDP Per Capita ( USD )                181 non-null    float64
 9   Gallons GDP Per Capita Can Buy        181 non-null    float64
 10  xTimes Yearly Gallons Per Capita Buy  181 non-null    int64
dtypes: float64(7), int64(2), object(2)
memory usage: 15.7+ KB

In [6]:
# Drop unique id (#) as no use for the column.
df_ppww.drop('S#', axis = 1, inplace = True)
df_ppww.head()


# Create new Column total cost column per year / possibly per month?

,Country,Daily Oil Consumption (Barrels),World Share,Yearly Gallons Per Capita,Price Per Gallon (USD),Price Per Liter (USD),Price Per Liter (PKR),GDP Per Capita ( USD ),Gallons GDP Per Capita Can Buy,xTimes Yearly Gallons Per Capita Buy
0,United States,19687287.0,20%,934.3,5.19,1.37,289.97,63414.0,12218.0,13
1,China,12791553.0,13%,138.7,5.42,1.43,302.87,10435.0,1925.0,14
2,India,4443000.0,5%,51.4,5.05,1.33,281.93,1901.0,376.0,7
3,Japan,4012877.0,4%,481.5,4.69,1.24,262.05,40193.0,8570.0,18
4,Russia,3631287.0,4%,383.2,3.41,0.90,190.56,10127.0,2970.0,8

In [8]:
# Check for null values in each field.

df_ppww.isnull().sum()

Country                                 0
Daily Oil Consumption (Barrels)         0
World Share                             0
Yearly Gallons Per Capita               0
Price Per Gallon (USD)                  0
Price Per Liter (USD)                   0
Price Per Liter (PKR)                   0
GDP Per Capita ( USD )                  0
Gallons GDP Per Capita Can Buy          0
xTimes Yearly Gallons Per Capita Buy    0
dtype: int64